
<div class="blood-bank">
    <section class="info">
        <h3>Blood Donation Database</h3>
        <p>
            This page allows you to update information about the blood donations in your system.
        </p>
    </section>
    <section class="add-entry">
        <h3>Add Entry</h3>
        <form>
            <label for="bank_id">Blood Bank</label><br>
            <select name="bank_id" id="bank_id">
                <option value="0">-------</option>
                {{#each banks}}
                    <option value="{{this.bank_id}}">{{this.name}}</option>
                {{/each}}
            </select><br>
            <label for="donor-id">Donor</label><br>
            <select name="donor_id" id="donor_id">
                <option value="0">-------</option>
                {{#each donors}}
                    <option value="{{this.donor_id}}">{{this.first_name}} {{this.last_name}}</option>
                {{/each}}
            </select><br>
            <label for="request_id">Request to be filled (Optional)</label><br>
            <select name="request_id" id="request_id">
                <option value="0">-------</option>
                {{#each requests}}
                    <option value="{{this.request_id}}">{{this.request_type}} {{dateFormat this.request_date}}</option>
                {{/each}}
            </select><br>
            <label for="amt_donated">Amount donated</label><br>
            <input size="15" type="number" id="amt_donated" name="amt_donated"><br>
            <label for="date_collected">Date collected</label><br>
            <input size="15" type="date" id="date_collected" name="date_collected"><br><br>
            <input type="submit" id="submitEntry" value="Add Entry">
        </form>
    </section>
    <<section class="entry-display">
        <h3>Blood Donations</h3>
        <table id="entry-list">
            <thead>
                <tr>
                    <th>Donation ID</th>
                    <th>Blood Bank</th>
                    <th>Donor</th>
                    <th>Blood Type</th>
                    <th>Filling Request</th>
                    <th>Amount of Donation (in blood units)</th>
                    <th>Date collected</th>
                    <th id="delete-column"> </th>
                    <th id="edit-column"> </th>
                </tr>
            </thead>
            <tbody>
            {{#each donations}}
                <tr>
                    <td>{{this.donation_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.first_name}} {{this.last_name}}</td>
                    <td>{{this.blood_type}}</td>
                    <td>{{ifNull this.request_type}} {{dateFormat this.request_date}}</td>
                    <td>{{this.amt_donated}}</td>
                    <td>{{dateFormat this.date_collected}}</td>
                    <td class="delete-column">
                        <button onclick="deleteBank({{this.request_id}})">Delete</button>
                    </td>
                    <td class="edit-column">
                        <a href="/donations/{{this.request_id}}">Update</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </section>
    <hr>
</div>