<div class="blood-bank">
    <section class="info">
        <h3>Donor Database</h3>
        <p>
            This page will allow you to update information about the donors in your system
        </p>
    </section>
    <section class="add-entry">
        <h3>Add Entry</h3>
        <form id='add-donor' action="/donors" method="POST">
            <label for="first_name">First name</label><br>
            <input size="15" type="text" pattern=[a-z]{1-30} id="first_name" name="first_name" required><br>
            <label for="last_name">Last name</label><br>
            <input size="15" type="text" pattern=[a-z]{1-30} id="last_name" name="last_name" required><br>
            <label for="phone">Phone (optional)</label><br>
            <input size="15" placeholder="555-111-1111" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" id="phone" name="phone"><br>
            <label for="email">E-mail (optional)</label><br>
            <input size="15" type="email" id="email" name="email"><br>
            <label for="donor_DOB">Date of birth</label><br>
            <input size="15" type="date" id="donor_DOB" name="donor_DOB" required><br>
            <label for="blood_type">Blood type</label><br>
            <select name="blood_type" id="blood_type">
                <option value="O-">O-</option>
                <option value="O+">O+</option>
                <option value="A-">A-</option>
                <option value="A+">A+</option>
                <option value="B-">B-</option>
                <option value="B+">B+</option>
                <option value="AB-">AB-</option>
                <option value="AB+">AB+</option>
            </select><br>
            <label for="times_donated">Number of Donations</label><br>
            <input min="1" size="15" type="number" id="times_donated" name="times_donated" required><br><br>
            <input type="submit" id="submitEntry" value="Add Entry">
        </form>
    </section>
    <section class="entry-display">
        <h3>Donors</h3>
        <table id="entry-list">
            <thead>
                <tr>
                    <th>Donor ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Date of birth</th>
                    <th>Blood type</th>
                    <th>Donations</th>
                    <th id="delete-column"> </th>
                    <th id="edit-column"> </th>
                </tr>
            </thead>
            <tbody>
                {{#each donors}}
                    <tr>
                        <td>{{this.donor_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td>{{dateFormat this.donor_DOB}}</td>
                        <td>{{this.blood_type}}</td>
                        <td>{{this.times_donated}}</td>
                        <td class="delete-column">
                            <button onclick="deleteBank({{this.donor_id}})">Delete</button>
                        </td>
                        <td class="edit-column">
                            <a href="/donors/{{this.donor_id}}">Edit</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    <section class="bTypeSearch">
        <label for="blood_type_search">Search Donors by Blood Type</label>
        <select name="blood_type_search" id="blood_type_search">
            <option value="O">None</option>
            <option value="1">O-</option>
            <option value="2">O+</option>
            <option value="3">A-</option>
            <option value="4">A+</option>
            <option value="5">B-</option>
            <option value="6">B+</option>
            <option value="7">AB-</option>
            <option value="8">AB+</option>
        </select>
        <br><br>
        <table class="bTypeTable hiddenTable" data-id="1">
            <thead>
                <tr>
                    <th>Donor ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Date of birth</th>
                    <th>Blood type</th>
                    <th>Donations</th>
                    <th id="delete-column"> </th>
                    <th id="edit-column"> </th>
                </tr>
            </thead>
            <tbody>
            {{#each o_neg}}
                    <tr>
                        <td>{{this.donor_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td>{{dateFormat this.donor_DOB}}</td>
                        <td>{{this.blood_type}}</td>
                        <td>{{this.times_donated}}</td>
                        <td class="delete-column">
                            <button onclick="deleteBank({{this.donor_id}})">Delete</button>
                        </td>
                        <td class="edit-column">
                            <a href="/donors/{{this.donor_id}}">Edit</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <table class="bTypeTable hiddenTable" data-id="2">
            <thead>
                <tr>
                    <th>Donor ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Date of birth</th>
                    <th>Blood type</th>
                    <th>Donations</th>
                    <th id="delete-column"> </th>
                    <th id="edit-column"> </th>
                </tr>
            </thead>
            <tbody>
            {{#each o_pos}}
                    <tr>
                        <td>{{this.donor_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td>{{dateFormat this.donor_DOB}}</td>
                        <td>{{this.blood_type}}</td>
                        <td>{{this.times_donated}}</td>
                        <td class="delete-column">
                            <button onclick="deleteBank({{this.donor_id}})">Delete</button>
                        </td>
                        <td class="edit-column">
                            <a href="/donors/{{this.donor_id}}">Edit</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <table class="bTypeTable hiddenTable" data-id="3">
           <thead>
                <tr>
                    <th>Donor ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Date of birth</th>
                    <th>Blood type</th>
                    <th>Donations</th>
                    <th id="delete-column"> </th>
                    <th id="edit-column"> </th>
                </tr>
            </thead>
            <tbody>
            {{#each a_neg}}
                    <tr>
                        <td>{{this.donor_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td>{{dateFormat this.donor_DOB}}</td>
                        <td>{{this.blood_type}}</td>
                        <td>{{this.times_donated}}</td>
                        <td class="delete-column">
                            <button onclick="deleteBank({{this.donor_id}})">Delete</button>
                        </td>
                        <td class="edit-column">
                            <a href="/donors/{{this.donor_id}}">Edit</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <table class="bTypeTable hiddenTable" data-id="4">
           <thead>
                <tr>
                    <th>Donor ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Date of birth</th>
                    <th>Blood type</th>
                    <th>Donations</th>
                    <th id="delete-column"> </th>
                    <th id="edit-column"> </th>
                </tr>
            </thead>
            <tbody>
            {{#each a_pos}}
                    <tr>
                        <td>{{this.donor_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td>{{dateFormat this.donor_DOB}}</td>
                        <td>{{this.blood_type}}</td>
                        <td>{{this.times_donated}}</td>
                        <td class="delete-column">
                            <button onclick="deleteBank({{this.donor_id}})">Delete</button>
                        </td>
                        <td class="edit-column">
                            <a href="/donors/{{this.donor_id}}">Edit</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <table class="bTypeTable hiddenTable" data-id="5">
           <thead>
                <tr>
                    <th>Donor ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Date of birth</th>
                    <th>Blood type</th>
                    <th>Donations</th>
                    <th id="delete-column"> </th>
                    <th id="edit-column"> </th>
                </tr>
            </thead>
            <tbody>
            {{#each b_neg}}
                    <tr>
                        <td>{{this.donor_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td>{{dateFormat this.donor_DOB}}</td>
                        <td>{{this.blood_type}}</td>
                        <td>{{this.times_donated}}</td>
                        <td class="delete-column">
                            <button onclick="deleteBank({{this.donor_id}})">Delete</button>
                        </td>
                        <td class="edit-column">
                            <a href="/donors/{{this.donor_id}}">Edit</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <table class="bTypeTable hiddenTable" data-id="6">
           <thead>
                <tr>
                    <th>Donor ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Date of birth</th>
                    <th>Blood type</th>
                    <th>Donations</th>
                    <th id="delete-column"> </th>
                    <th id="edit-column"> </th>
                </tr>
            </thead>
            <tbody>
            {{#each b_pos}}
                    <tr>
                        <td>{{this.donor_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td>{{dateFormat this.donor_DOB}}</td>
                        <td>{{this.blood_type}}</td>
                        <td>{{this.times_donated}}</td>
                        <td class="delete-column">
                            <button onclick="deleteBank({{this.donor_id}})">Delete</button>
                        </td>
                        <td class="edit-column">
                            <a href="/donors/{{this.donor_id}}">Edit</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <table class="bTypeTable hiddenTable" data-id="7">
           <thead>
                <tr>
                    <th>Donor ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Date of birth</th>
                    <th>Blood type</th>
                    <th>Donations</th>
                    <th id="delete-column"> </th>
                    <th id="edit-column"> </th>
                </tr>
            </thead>
            <tbody>
            {{#each ab_neg}}
                    <tr>
                        <td>{{this.donor_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td>{{dateFormat this.donor_DOB}}</td>
                        <td>{{this.blood_type}}</td>
                        <td>{{this.times_donated}}</td>
                        <td class="delete-column">
                            <button onclick="deleteBank({{this.donor_id}})">Delete</button>
                        </td>
                        <td class="edit-column">
                            <a href="/donors/{{this.donor_id}}">Edit</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <table class="bTypeTable hiddenTable" data-id="8">
           <thead>
                <tr>
                    <th>Donor ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Date of birth</th>
                    <th>Blood type</th>
                    <th>Donations</th>
                    <th id="delete-column"> </th>
                    <th id="edit-column"> </th>
                </tr>
            </thead>
            <tbody>
            {{#each ab_pos}}
                    <tr>
                        <td>{{this.donor_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td>{{dateFormat this.donor_DOB}}</td>
                        <td>{{this.blood_type}}</td>
                        <td>{{this.times_donated}}</td>
                        <td class="delete-column">
                            <button onclick="deleteBank({{this.donor_id}})">Delete</button>
                        </td>
                        <td class="edit-column">
                            <a href="/donors/{{this.donor_id}}">Edit</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</div>
<script>
    document.addEventListener('input', function (event) {
        hideAllTables();
        var tableId = event.target.value;
        document.querySelector('[data-id="'+tableId+'"]').classList.remove("hiddenTable");
    }, false);

    var hideAllTables = () => {
        var tables = document.querySelectorAll('.bTypeTable');
        for (var i = 0; i < tables.length; i++) {
            tables[i].classList.add('hiddenTable');
        }
    };
</script>