
<div class="blood-drives">
    <section class="info">
        <h3>Blood Drive Database</h3>
        <p>
            This page will allow you to enter and update information on blood drives you hosted.
        </p>
    </section>
    <section class="add-entry">
        <h3>Add Entry</h3>
        <form id='add-drive' action="/blood-drives" method="POST">
            <label for="bank-id">Blood Bank</label><br>
            <select name="bank_id" id="bank_id" required>
                <option disabled selected value></option>
                {{#each banks}}
                    <option value="{{this.bank_id}}">{{this.name}}</option>
                {{/each}}
            </select><br>
            <label for="drive_date">Blood Drive Date</label><br>
            <input size="15" type="date" id="drive_date" name="drive_date" required><br>
            <label for="amt_collected">Amount Donated</label><br>
            <input size="15" min="1" type="number" id="amt_collected" name="amt_collected" required><br>
            <label for="city">City</label><br>
            <input size="15" type="text" pattern=[a-z]{4-40} id="city" name="city" required><br>
            <label for="zip">Zip Code</label><br>
            <input size="15" pattern=[0-9]{5} type="text" id="zip" name="zip" required><br><br>
            <input type="submit" id="submitEntry" value="Add Entry">
        </form>
    </section>
    <section class="entry-display">
        <h3>Blood Drives</h3>
        <table id="entry-list">
            <thead>
                <tr>
                    <th>Blood Drive ID</th>
                    <th>Blood Bank</th>
                    <th>Date</th>
                    <th>Amount Donated</th>
                    <th>City</th>
                    <th>Zip</th>
                    <th id="delete-column"> </th>
                    <th id="edit-column"> </th>
                </tr>
            </thead>
            <tbody>
                {{#each drives}}
                <tr>
                    <td>{{this.drive_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{dateFormat this.drive_date}}</td>
                    <td>{{this.amt_collected}}</td>
                    <td>{{this.city}}</td>
                    <td>{{this.zip}}</td>
                    <td class="delete-column">
                        <button onclick="deleteBank({{this.drive_id}})">Delete</button>
                    </td>
                    <td class="edit-column">
                        <a href="/requests/{{this.drive_id}}">Edit</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    <section class="blood-drive-donors">
        <label for="blood_drive_donors">Select a Blood Drive by its date to view Donors</label>
        <select name="blood_drive_donors" id="blood_drive_donors">
                <option>None</option>
                {{#each blood_drive_donors}}
                    <option value="{{this.drive_id}}">{{this.drive_id}}</option>
                {{/each}}
            </select><br>
        <div class="driveTable hiddenTable" data-id="1">
            <table>
                <thead>
                    <tr>
                        <th>Donor ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Phone</th>
                        <th>E-mail</th>
                        <th>Date of birth</th>
                        <th>Blood type</th>
                        <th>Donations</th>
                        <th id="delete-column"> </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each donors}}
                    <tr>
                        <td>{{this.donor_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.email}}</td>
                        <td>{{dateFormat this.donor_DOB}}</td>
                        <td>{{this.blood_type}}</td>
                        <td>{{this.times_donated}}</td>
                        <td class="delete-column">
                            <button onclick="deleteBank({{this.donor_id}})">Delete</button>
                        </td>
                        <td class="edit-column">
                            <a href="/donors/{{this.donor_id}}">Edit</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <form>
                <label for="add_drive_donor">Add Donor by Name to selected Blood Drive</label>
                <select name="add_drive_donor" id="add_drive_donor" required>
                <option disabled selected value></option>
                {{#each donors}}
                    <option value="{{this.donor_id}}">{{this.first_name}} {{this.last_name}}</option>
                {{/each}}
            </select>
                <input type="submit" id="add-drive-donor" value="Add Donor">
            </form>
        </div>
    </section>
</div>
<script>
    document.addEventListener('input', function (event) {
        hideAllTables();
        var tableId = event.target.value;
        document.querySelector('[data-id="'+tableId+'"]').classList.remove("hiddenTable");
    }, false);

    var hideAllTables = () => {
        var tables = document.querySelectorAll('.driveTable');
        for (var i = 0; i < tables.length; i++) {
            tables[i].classList.add('hiddenTable');
        }
    };
</script>