<div class="Hospitals">
    <section class="info">
        <h3>Hospitals Database</h3>
        <p>
            This page allows you to update information about the hospitals in your system
        </p>
    </section>
    <section class="add-entry">
        <h3>Add Entry</h3>
        <form id='add-hospital' action="/hospitals" method="POST">
            <label for="name">Name</label><br>
            <input size="15" type="text" id="name" name="name"><br>
            <label for="city">City</label><br>
            <input size="15" type="text" id="city" name="city"><br>
            <label for="zip">Zip Code</label><br>
            <input size="15" maxlength="5" type="number" id="zip" name="zip"><br>
            <label for="phone">Phone</label><br>
            <input size="15" type="tel" id="phone" name="phone"><br><br>
            <input type="submit" id="submitEntry" value="Add Entry">
        </form>
    </section>
    <<section class="entry-display">
    <h3>Hospitals</h3>
    <table id="entry-list">
        <thead>
            <tr>
                <th>Hospital ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Zip</th>
                <th>Phone</th>
                <th class="delete-column"> </th>
                <th class="edit-column"> </th>
            </tr>
        </thead>
        <tbody>
            {{#each hospitals}}
                <tr>
                    <td>{{this.hospital_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.city}}</td>
                    <td>{{this.zip}}</td>
                    <td>{{this.phone}}</td>
                    <td class="delete-column">
                        <button onclick="deleteBank({{this.hospital_id}})">Delete</button>
                    </td>
                    <td class="edit-column">
                        <a href="/donors/{{this.hospital_id}}">Edit</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</section>
</div>