
<div class="web-page">
    <section class="info">
        <h3>Request from people</h3>
        <p>
            This page allows you to view information regarding the requests from hospitals in your system and update them as they are filled
        </p>
    </section>
    <section class="add-entry">
        <h3>Add Entry</h3>
        <form id='add-request' action="/requests" method="POST">
            <label for="hospital_id">Hospital</label><br>
            <select class="entryInput" name="hospital_id" id="hospital_id" required>
                <option disabled selected value></option>
                {{#each hospitals}}
                    <option value="{{this.hospital_id}}">{{this.name}}</option>
                {{/each}}
            </select><br>
            <label for="request_amt">Amount Requested</label><br>
            <input class="entryInput" size="15" min="1" type="number" id="amount" name="request_amt" required><br>
            <label for="request_type">Blood type requested</label><br>
            <select class="entryInput" name="request_type" id="request_type" required>
                <option disabled selected value=""></option>
                <option value="O-">O-</option>
                <option value="O+">O+</option>
                <option value="A-">A-</option>
                <option value="A+">A+</option>
                <option value="B-">B-</option>
                <option value="B+">B+</option>
                <option value="AB-">AB-</option>
                <option value="AB+">AB+</option>
            </select><br>
            <label for="request_date">Request Date</label><br>
            <input class="entryInput" size="15" type="date" id="request-date" name="request_date" required><br><br>
            <input type="submit" id="submitEntry" value="Add Entry">
        </form>
    </section>
    <section class="entry-display">
    <h3>Requests</h3>
    <table id="entry-list">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>Hospital</th>
                <th>Amount (in blood units)</th>
                <th>Blood Type</th>
                <th>Request Date</th>
                <th>Filled</th>
                <th id="delete-column"> </th>
                <th id="edit-column"> </th>
            </tr>
        </thead>
        <tbody>
        {{#each requests}}
            <tr>
                <td>{{this.request_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.request_amt}}</td>
                <td>{{this.request_type}}</td>
                <td>{{dateFormat this.request_date}}</td>
                <td>{{yesNo this.request_filled}}</td>
                <td class="delete-column">
                    <button onclick="deleteRequest({{this.request_id}})">Delete</button>
                </td>
                <td class="edit-column">
                    <a href="/requests/{{this.request_id}}"><button type="button">Update</button></a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</section>
</div>